* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
}
#productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}
.object {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.object img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: inside;
  list-style-type: circle;
}
h1{
  font-size: 50px;
  text-align: center;
  background-color: hotpink;
  margin-bottom: 10px;
}
button {
  margin-top: 20px;
  width: 20%;
}