* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
}
#productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* grid-template-rows: 6.5rem 10rem 20rem 40%; */
  
  
  
}

